main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
}

.hero-image img {
    width: 100vw;
    max-width: 1440px;
    object-fit: contain;
}

.hero-banner-text-container {
    background-color: #000;
    width: 100vw;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 0 16px 0 16px;
    max-width: 1440px;
}

.hero-banner-text-container a {
    cursor: pointer;
}

.hero-banner-text h1 {
    color: #fff;
    font-family: 'roboto', 'inter';
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0 0 5px 0;
}

.hero-banner-text p {
    color: #8E8E8E;
    font-family: 'roboto', 'inter';
    font-size: 12px;
    font-weight: 400;
    margin: 0;
}

.hero-banner-btn {
    color: #fff;
    font-family: 'roboto', 'inter';
    font-size: 20px;
    font-weight: 400;
    border: none;
    background-color: #8F5F27;
    width: 126px;
    height: 36px;
    border-radius: 16px;
}

.hero-banner {
    position: relative;
}

.between-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 16px 16px 40px 16px;
    max-width: 1000px;
}

.between-text h3 {
    font-family: 'inter', 'roboto';
    font-size: 24px;
    font-weight: 400;
}

.between-text p {
    font-family: 'inter', 'roboto';
    font-size: 16px;
    font-weight: 400;
}

.solar-system-container, .explore-container {
    position: relative;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 40px 0;
    max-width: 1440px;
}

.solar-system-container img, .explore-container img {
    width: 100vw;
    max-width: 1440px;
}

.solar-system-btn, .explore-btn {
    position: absolute;
    display: flex;
    flex-direction: row;
    border: 1px solid #FF8A48;
    border-radius: 20px;
}

.solar-system-btn h3 a {
    margin: 0;
    color: #FF8A48;
    padding: 20px 40px;
    font-family: 'inter', 'roboto';
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.explore-btn h3 a {
    margin: 0;
    color: #FF8A48;
    padding: 20px 148px;
    font-family: 'inter', 'roboto';
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.dark-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .80);
}

@media screen and (min-width: 744px) {
    .hero-banner-text h1 {
        font-size: 20px;
    }
    
    .hero-banner-text p {
        font-size: 16px;
    }
    
    .hero-banner-btn {
        font-size: 24px;
        width: 146px;
        height: 46px;
    }

    .hero-banner-text-container {
        padding: 0 35px 0 35px;
    }

    .between-text {
        margin: 16px 35px 40px 35px;
    }
}

@media screen and (min-width: 1440px) {
    .between-text {
        margin: 16px 70px 40px 70px;
    }

    .between-text h3 {
        font-size: 40px;
    }

    .between-text p {
        font-size: 28px;
    }

    .hero-banner-text-container {
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: 0 70px 0 70px;
    }

    .hero-banner-text {
        padding: 0 0 20px 0;
    }

    .hero-banner-text h1 {
        font-size: 28px;
    }
    
    .hero-banner-text p {
        font-size: 20px;
    }
    
    .hero-banner-btn {
        font-size: 28px;
        width: 200px;
        height: 50px;
    }
}




