* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

header {
    width: 100vw;
    height: 76px;
    background-color: #3D3333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.main-logo {
    padding: 0 0 0 16px;
}

.main-logo img {
    height: 100%;
    width: 100px;
    object-fit: cover;
}

header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 320px;
    margin: 0;
    height: 100%;
    padding: 0 16px 0 16px;
}

header ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

footer {
    background-color: #3D3333;
    width: 100vw;
    color: #fff;
    position:static;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer div {
    font-family: 'Roboto', sans-serif;
}

.opening h4, .location h4, .follow h4, .involved h4 {
    font-size: 20px;
    font-weight: 400;
}

.opening p {
    color: #7383D3;
}

.location p, .follow p, .involved p, .opening p {
    font-size: 12px;
    font-weight: 300;
}

.opening, .location, .follow, .involved {
    width: 199px;
}

.opening, .follow {
    padding: 0 0 0 16px;
}

.location, .involved {
    padding: 0 16px 0 0;
}