* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.container {
    margin: 0 16px 0 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1440px;
}

header {
    width: 100vw;
    height: 76px;
    background-color: #3D3333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    max-width: 1440px;
}

.main-logo {
    padding: 0 0 0 16px;
}

.main-logo img {
    height: 100%;
    width: 100px;
    object-fit: cover;
}

header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 320px;
    margin: 0;
    height: 100%;
    padding: 0 16px 0 16px;
    list-style-type: none;
}

header nav ul li:hover {
    transition: 0.2s linear;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

footer {
    background-color: #3D3333;
    width: 100vw;
    max-width: 1440px;
    color: #fff;
    position: static;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.opening h4, .location h4, .follow h4, .involved h4 {
    font-size: 20px;
    font-weight: 400;
}

.opening p {
    color: #7383D3;
}

.opening h4 {
    white-space: nowrap;
}

.location p, .follow p, .involved p, .opening p {
    font-size: 12px;
    font-weight: 300;
}

.opening, .location, .follow, .involved {
    width: 180px;
    font-family: 'Roboto', sans-serif;
    margin: 0 16px 0 16px;
}

@media screen and (min-width: 744px) {
    .container {
        margin: 0 35px 0 35px;
    }
    .main-logo {
        padding: 0 0 0 35px;
    }
    header nav ul {
        width: 420px;
        padding: 0 35px 0 35px;
    }
    .opening, .location, .follow, .involved {
        margin: 0 35px 0 35px;
        width: 110px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        margin: 0 70px 0 70px;
    }
    .main-logo {
        padding: 0 0 0 70px;
    }
    .main-logo img {
        width: 120px;
    }
    header nav ul {
        width: 620px;
        padding: 0 70px 0 70px;
        font-size: 20px;
    }
    .opening, .location, .follow, .involved {
        margin: 0 70px 0 70px;
        width: 180px;
    }
    .location p, .follow p, .involved p, .opening p {
        font-size: 16px;
    }
    .opening h4, .location h4, .follow h4, .involved h4 {
        font-size: 24px;
    }
    header {
        height: 100px;
    }
}
