main {
    max-width: 1440px;
    margin: 0 16px 0 16px;
    width: 100vw;
    text-align: center;
}

.support-banner-container {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 40px 0;
    max-width: 1440px;
}

.support-banner-image img {
    width: 100vw;
    height: auto;
    max-width: 1440px;
}

.support-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: #fff;
    margin: 0 16px 0 16px;
}

.support-text h1 {
    font-size: 40px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 8px 0;
}

.support-text p {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    line-height: 150%;
}

.support-us, .contact-us, .internships, .location-wmap, .social-media {
    margin: 0 16px 20px 16px;
}

.support-us h2, .contact-us h2, .internships h2, .location-wmap h2, .social-media h2 {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0 0 16px 0;
}

.support-us p, .contact-us p, .internships p, .location-wmap p, .social-media p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 150%;
    margin: 0 0 16px 0;
}

.location-wmap iframe {
    border: 0;
    width: 300px;
    height: 300px;
}

@media screen and (min-width: 744px) {
    .support-text {
        margin: 0 35px 0 35px;
    }
    .support-text p {
        font-size: 14px;
    }
    .support-us, .contact-us, .internships, .location-wmap, .social-media {
        margin: 0 35px 20px 35px;
    }
    .location-wmap iframe {
        width: 500px;
        height: 500px;
    }
}

@media screen and (min-width: 1440px) {
    .support-text {
        margin: 0 70px 0 70px;
    }
    .support-text p {
        font-size: 20px;
    }
    .support-us, .contact-us, .internships, .location-wmap, .social-media {
        margin: 0 70px 20px 70px;
    }
    .support-us h2, .contact-us h2, .internships h2, .location-wmap h2, .social-media h2 {
        font-size: 32px;
    }
    .support-us p, .contact-us p, .internships p, .location-wmap p, .social-media p {
        font-size: 18px;
    }
    .location-wmap iframe {
        width: 500px;
        height: 500px;
    }
}
